
#nav-mobile
{
    background-color: #ffffff;
    font-family: Helvetica, Sans-Serif;
    color: #A9A9A9;
    font-size: 11pt;
    /*background-color: #00ff00;*/
}
#buddy
{
   background-color: #ffffff;
   font-family: Helvetica, Sans-Serif;
   color: #A9A9A9;
   font-size: 11pt;
   
}
.nav
{
   background-color: #ffffff;  
}

p{
 font-family: Helvetica, Sans-Serif;

}
h5{
 font-family: Helvetica, Sans-Serif;

}
#section1{
    
}