

#nav-mobile
{
    font-family: Helvetica, Sans-Serif;
    color: #A9A9A9;
    font-size: 11pt;
    /*background-color: #00ff00;*/
}
#elliot{
    background-color: #ffffff;
    padding: 0%;
    width: 70%;
    height: 40%;
    text-align: center;
    
}
#buddy
{
   background-color: #ffffff;
   font-family: Helvetica, Sans-Serif;
   color: #A9A9A9;
   font-size: 11pt;
   
}
body
{
    background-image: url(wallstreet.jpg);
}
